<h2><%=@user.username%>'s account Information</h2>
<br>
<p>Username: <%=@user.username %></p>
<% if logged_in? %>
  <p> Email: <%= @user.email %></p>
  <%end%>
  <% if @user == current_user %>
    <p><a href="/users/<%= @user.slug %>/edit">Edit</a></p>
    <p><a href="/users/<%= @user.slug %>/delete">Delete</a></p>
  <% end %>
  <br></br>
  <p><a href="/users/<%= current_user.slug %>/gifts"> Go To My Gift Journal <a/></p>
  <p><a href="/gifts">All Gifts</a></p>
  <p><a href="/">Home</a></p>
  <% if !logged_in? %>
    <p><a href="/login">Log In</a></p>
  <% else %>
    <p><a href="/logout">Log Out</a></p>
  <% end %>
</br>
